<head>
    <link rel="stylesheet" href="~/css/help.css"></link>
</head>
<body>
    <div class="container-fluid vh-1200 bg-grid help-body">
        <div class="container vh-120 w-75 mx-auto my-0 help-info bg-dark">
            <div class="ff-utnr my-border">
                <h1 class="align-text-center">
                    Help and Support
                </h1>
            </div>
            <div class="ff-utnr my-border">
                <h2 class="align-text-center">FAQ</h2>
                <ul>
                    <li>
                        <h3>What is GameSpy?</h3>
                        <p>
                            GameSpy is a platform where you can check your progress for a wide variety of digital games and software. Our application provides a seamless experience for gamers and software enthusiasts.
                        </p>
                    </li>
                    <li>
                        <h3>How do I create an account?</h3>
                        <p>
                            To create an account, click on the "Sign Up" button on the top right corner of our homepage. Fill in the required details such as your name, email address, and password, then follow the instructions to complete the registration process.
                        </p>
                    </li>
                    <li>
                        <h3>How do I purchase this software?</h3>
                        <p>
                            This product is free to use web application which do not require purchase.
                        </p>
                    </li>
                    <li>
                        <h3>What payment methods do you accept?</h3>
                        <p>
                            We accept a variety of payment methods including major credit cards (Visa, MasterCard, American Express), PayPal, and other region-specific payment options. All transactions are securely processed.
                        </p>
                    </li>
                    <li>
                        <h3>How can I contact customer support?</h3>
                        <p>
                            If you need assistance or have any questions, you can reach our customer support team via email at gamespy2001.gs@gmail.com or through the contact form on our website. We strive to respond to all inquiries within 24 hours.
                        </p>
                    </li>
                    <li>
                        <h3>How do I update my account information?</h3>
                        <p>
                            To update your account information, log in to your account and navigate to the "User Settings" section. Here, you can update your personal information, change your password, and manage your payment methods.
                        </p>
                    </li>
                    <li>
                        <h3>Is my personal information safe?</h3>
                        <p>
                            We take your privacy and data security very seriously. We implement industry-standard security measures to protect your personal information. Please refer to our Privacy Policy for more details on how we handle and safeguard your data.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="ff-utnr my-border">
                <h2 class="align-text-center">Contact</h2>
                <ul>
                    <li><strong>Email:</strong> gamespy2001.gs@gmail.com</li>
                    <li><strong>Address:</strong>Lorem Ispum dolor sit amet</li>
                </ul>
            </div>
        </div>
    </div>
</body>