@model GameSpy.Models.AppUser

<head>
    <link href="~/css/userSettings.css" rel="stylesheet" />
</head>

<body>
    <div class="container-fluid bg-dark vh-100 align-content-center m-0">
        <form method="post" asp-controller="User" asp-action="UpdateUsername" asp-route-id="@Model.Id">
            <div class="h-50 w-50 mx-auto my-border rounded d-flex flex-column">
                <label class="my-3 mx-2 ff-utnr flex-grow-1">Old Username</label>
                <input readonly="true" placeholder="@Model.UserName" class="my-3 mx-2 mb-2 bg-dark my-border rounded ff-utnr flex-grow-1"></input>

                <label class="my-3 mx-2 ff-utnr flex-grow-1">New Username</label>
                <input placeholder="username" class="my-3 mx-2 bg-dark my-border rounded ff-utnr flex-grow-1" asp-for="@Model.UserName"></input>

                <button type="submit" class="payment-submit-button bg-dark ff-utnr my-border rounded mx-auto">Submit</button>
            </div>
        </form>
    </div>
</body>
