@model GameSpy.Models.AppUser
@using GameSpy.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity;

@inject MySIgnInManager SignInManager
@inject UserManager<AppUser> userManager;

<head>
    <link rel="stylesheet" href="~/css/userCss.css" />
</head>

<body>
    <div class="container-fluid d-flex vh-100 bg-black p-0">
        <div class="col-2 myBorder">
            <div class="w-100 p-3 d-flex">
                <div class="flex-grow-1">
                    <h2 class=" ff-utnr">GameSpy</h2>
                </div>
                <div class="flex-grow-1 align-text-right">
                    <img class="exit" href="#" src="~/assets/exit.png"></img>
                </div>
            </div>
            <div class="h-35  w-100 userInfo">
                <img href="#" src="~/assets/friend.png" class="profilePicture"></img>
                <h3 class="ff-utnr pt-2">UserName</h3>
            </div>
            <div class="h-54 w-100 d-flex">
                <div class="flex-grow-1 h-25">
                    <p class=" ff-utnr text-center">Games</p>
                    <p class =" ff-utnr text-center">123</p>
                </div>
                <div class="flex-grow-1 h-25">
                    <p class=" ff-utnr text-center">Achievements</p>
                    <p class=" ff-utnr text-center">1234</p>
                </div>
            </div>
        </div>
        <div class="col-8 myBorder px-5">
            <div class="w-100 m-3">
                <h2 class="ff-utnr">Recently Played</h2>
            </div>
            <div class="h-26 w-100 mb-2 d-inline-block">
                @for (int i=0; i<5; i++)
                {
                    <img class="game mt-2" href="#" src="~/assets/bg2.jpg"></img>
                }
            </div>
            <div class="h-8 pt-1">
                <div class="h-20 w-100 px-3">
                    <h2 class=" ff-utnr">Your Games</h2>
                </div>
            </div>
            <div class="h-54 d-inline-block overflow-auto">
                @for (int i = 0; i <= 20; i++)
                {
                    <img class="game mt-2" href="#" src="~/assets/bg2.jpg"></img>
                }
            </div>
        </div>
        <div class="col-2">
            <div class="h-9 d-flex align-items-center justify-content-end">
                <p class="ff-utnr mx-1 mt-3">Profile</p>
                <img href="#" src="~/assets/friend.png" class="profilePictureSettings"></img>
            </div>
            <div class="h-75"></div>
            <div class="h-16 d-flex flex-column align-items-end">
                <div class="h-25 my-1 d-flex justify-content-end w-100">
                    <p class="ff-utnr">Settings</p>
                    <img href="#" src="~/assets/settings.png" class="icons mx-1"></img>
                </div>
                <div class="h-25 my-1 d-flex justify-content-end w-100">
                    <p class="ff-utnr">Help</p>
                    <img href="#" src="~/assets/settings.png" class="icons mx-1"></img>
                </div>
                <div class="h-25 my-1 d-flex justify-content-end w-100">
                    <p class="ff-utnr">Privacy</p>
                    <img href="#" src="~/assets/settings.png" class="icons mx-1"></img>
                </div>
            </div>
        </div>
    </div>
</body>