@page "UserSettings"

<head>
    <link rel="stylesheet" href="~/css/userSettingsCss.css" />
</head>

<body>

    <div class="inline-block-container">
        <div class="card">
            <div class="card-content">
                <img src="~/assets/Grand-Theft-Auto-V-Cover.svg" alt="Card Image">
                <div class="hover-text">Hover Text</div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <img src="~/assets/Grand-Theft-Auto-V-Cover.svg" alt="Card Image">
                <div class="hover-text">Hover Text</div>
            </div>
        </div>
    </div>

</body>