@model AppUser


<head>
    <link rel="stylesheet" href="~/css/userSettings.css" />
</head>

<body class="container-fluid">
    <form >
        <div class="w-100 vh-100 bg-black align-content-center ff-utnrr">
            <div class="d-flex flex-column mx-auto align-content-center ff-utnr justify-content-center my-border central-card">
                <div class="flex-grow-1 h-35 align-content-center">
                    <div class="profile-picture">
                        <img src="~/assets/friend.png" alt="Loading..."/>
                        <a href="#" class="change-image">+</a>
                    </div>
                    <h2 class="mx-0 align-text-center">@Model.UserName</h2>
                </div>
                    <a asp-controller="User" asp-action="AddBalance" asp-route-id="@Model.Id" class="text-decoration-none h-10 flex-grow-1 my-border border-bottom-0">Balance</a>
                    <a href="#" class="text-decoration-none h-10 flex-grow-1 my-border border-bottom-0">Username</a>
                    <a href="#" class="text-decoration-none h-10 flex-grow-1 my-border border-bottom-0">Email</a>
                    <a href="#" class="text-decoration-none h-10 flex-grow-1 my-border border-bottom-0">Password</a>
            </div>
        </div>
    </form>
</body>