USE [master]
GO
/****** Object:  Database [GameSpy]    Script Date: 5/27/2024 1:40:10 PM ******/
CREATE DATABASE [GameSpy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GameSpy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GameSpy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GameSpy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GameSpy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GameSpy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GameSpy]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/27/2024 1:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACHIEVEMENTS]    Script Date: 5/27/2024 1:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACHIEVEMENTS](
	[ACHIEVEMENTSID] [int] NOT NULL,
	[GAMEID] [int] NOT NULL,
	[NAME] [varchar](60) NOT NULL,
	[DESCRIPTION] [varchar](2000) NULL,
 CONSTRAINT [PK_ACHIEVEMENTS] PRIMARY KEY CLUSTERED 
(
	[ACHIEVEMENTSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 5/27/2024 1:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 5/27/2024 1:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 5/27/2024 1:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 5/27/2024 1:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 5/27/2024 1:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 5/27/2024 1:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GAMES]    Script Date: 5/27/2024 1:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GAMES](
	[GAMEID] [int] NOT NULL,
	[NAME] [varchar](60) NOT NULL,
	[DESCRIPTION] [varchar](2000) NULL,
	[Rating] [decimal](18, 2) NOT NULL,
	[MANUFACTURER] [varchar](60) NOT NULL,
	[IMAGE] [varchar](60) NOT NULL,
 CONSTRAINT [PK_GAMES] PRIMARY KEY CLUSTERED 
(
	[GAMEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 5/27/2024 1:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[USERID] [nvarchar](450) NOT NULL,
	[FIRSTNAME] [varchar](60) NOT NULL,
	[LASTNAME] [varchar](60) NOT NULL,
	[BALANCE] [decimal](5, 2) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[PROFILEPICTURE] [varchar](200) NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ACHIEVEMENTS]    Script Date: 5/27/2024 1:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ACHIEVEMENTS](
	[ACHIEVEMENTSID] [int] NOT NULL,
	[USERID] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_USER_ACHIEVEMENTS] PRIMARY KEY CLUSTERED 
(
	[ACHIEVEMENTSID] ASC,
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_GAME]    Script Date: 5/27/2024 1:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_GAME](
	[GAMESID] [int] NOT NULL,
	[USERID] [nvarchar](450) NOT NULL,
	[RECENTTIME] [datetime] NULL,
 CONSTRAINT [PK_USERS_GAMES] PRIMARY KEY CLUSTERED 
(
	[GAMESID] ASC,
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240312220634_InitialMigration', N'8.0.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240313091658_GamesManyToMany', N'8.0.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240325210653_propImageInGmaes', N'8.0.2')
GO
INSERT [dbo].[ACHIEVEMENTS] ([ACHIEVEMENTSID], [GAMEID], [NAME], [DESCRIPTION]) VALUES (1, 1, N'First Level Complete', N'Complete the first level in Super Mario Bros.')
INSERT [dbo].[ACHIEVEMENTS] ([ACHIEVEMENTSID], [GAMEID], [NAME], [DESCRIPTION]) VALUES (2, 1, N'Mushroom Collector', N'Collect 10 mushrooms in Super Mario Bros.')
INSERT [dbo].[ACHIEVEMENTS] ([ACHIEVEMENTSID], [GAMEID], [NAME], [DESCRIPTION]) VALUES (3, 1, N'Fireball Master', N'Defeat 20 enemies with fireballs in Super Mario Bros.')
GO
INSERT [dbo].[GAMES] ([GAMEID], [NAME], [DESCRIPTION], [Rating], [MANUFACTURER], [IMAGE]) VALUES (1, N'Super Mario Bros.', N'Classic platformer featuring Mario', CAST(4.70 AS Decimal(18, 2)), N'Nintendo', N'super_mario_bros.png')
INSERT [dbo].[GAMES] ([GAMEID], [NAME], [DESCRIPTION], [Rating], [MANUFACTURER], [IMAGE]) VALUES (2, N'The Legend of Zelda: Breath of the Wild', N'Open-world action-adventure game', CAST(4.90 AS Decimal(18, 2)), N'Nintendo', N'breath_of_the_wild.png')
INSERT [dbo].[GAMES] ([GAMEID], [NAME], [DESCRIPTION], [Rating], [MANUFACTURER], [IMAGE]) VALUES (3, N'Final Fantasy VII', N'Classic RPG with memorable characters', CAST(4.80 AS Decimal(18, 2)), N'Square Enix', N'final_fantasy_vii.png')
GO
INSERT [dbo].[USER_ACHIEVEMENTS] ([ACHIEVEMENTSID], [USERID]) VALUES (1, N'7c874e75-59ed-4ef7-99c2-1faddf04a0d5')
INSERT [dbo].[USER_ACHIEVEMENTS] ([ACHIEVEMENTSID], [USERID]) VALUES (2, N'7c874e75-59ed-4ef7-99c2-1faddf04a0d5')
INSERT [dbo].[USER_ACHIEVEMENTS] ([ACHIEVEMENTSID], [USERID]) VALUES (3, N'7c874e75-59ed-4ef7-99c2-1faddf04a0d5')
GO
INSERT [dbo].[USER_GAME] ([GAMESID], [USERID], [RECENTTIME]) VALUES (1, N'7c874e75-59ed-4ef7-99c2-1faddf04a0d5', CAST(N'2024-05-27T10:55:22.260' AS DateTime))
INSERT [dbo].[USER_GAME] ([GAMESID], [USERID], [RECENTTIME]) VALUES (1, N'e1474218-7191-45da-a560-342a9fb2e3b8', CAST(N'2024-05-07T00:00:00.000' AS DateTime))
INSERT [dbo].[USER_GAME] ([GAMESID], [USERID], [RECENTTIME]) VALUES (2, N'7c874e75-59ed-4ef7-99c2-1faddf04a0d5', CAST(N'2024-05-25T11:13:58.877' AS DateTime))
GO
/****** Object:  Index [GAME_ACHIEVEMENTS_FK]    Script Date: 5/27/2024 1:40:10 PM ******/
CREATE NONCLUSTERED INDEX [GAME_ACHIEVEMENTS_FK] ON [dbo].[ACHIEVEMENTS]
(
	[GAMEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 5/27/2024 1:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 5/27/2024 1:40:10 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 5/27/2024 1:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 5/27/2024 1:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 5/27/2024 1:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 5/27/2024 1:40:10 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[USER]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 5/27/2024 1:40:10 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[USER]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [USER_ACHIEVEMENTS_FK]    Script Date: 5/27/2024 1:40:10 PM ******/
CREATE NONCLUSTERED INDEX [USER_ACHIEVEMENTS_FK] ON [dbo].[USER_ACHIEVEMENTS]
(
	[ACHIEVEMENTSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [USER_ACHIEVEMENTS2_FK]    Script Date: 5/27/2024 1:40:11 PM ******/
CREATE NONCLUSTERED INDEX [USER_ACHIEVEMENTS2_FK] ON [dbo].[USER_ACHIEVEMENTS]
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [USER_GAMES_FK]    Script Date: 5/27/2024 1:40:11 PM ******/
CREATE NONCLUSTERED INDEX [USER_GAMES_FK] ON [dbo].[USER_GAME]
(
	[GAMESID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [USER_GAMES2_FK]    Script Date: 5/27/2024 1:40:11 PM ******/
CREATE NONCLUSTERED INDEX [USER_GAMES2_FK] ON [dbo].[USER_GAME]
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GAMES] ADD  DEFAULT ('') FOR [IMAGE]
GO
ALTER TABLE [dbo].[USER] ADD  DEFAULT ('') FOR [PROFILEPICTURE]
GO
ALTER TABLE [dbo].[ACHIEVEMENTS]  WITH CHECK ADD  CONSTRAINT [FK_ACHIEVEM_GAME_ACHI_GAMES] FOREIGN KEY([GAMEID])
REFERENCES [dbo].[GAMES] ([GAMEID])
GO
ALTER TABLE [dbo].[ACHIEVEMENTS] CHECK CONSTRAINT [FK_ACHIEVEM_GAME_ACHI_GAMES]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_USER_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[USER] ([USERID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_USER_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_USER_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[USER] ([USERID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_USER_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_USER_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[USER] ([USERID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_USER_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_USER_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[USER] ([USERID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_USER_UserId]
GO
ALTER TABLE [dbo].[USER_ACHIEVEMENTS]  WITH CHECK ADD  CONSTRAINT [FK_USER_ACH_USER_ACHI_ACHIEVEM] FOREIGN KEY([ACHIEVEMENTSID])
REFERENCES [dbo].[ACHIEVEMENTS] ([ACHIEVEMENTSID])
GO
ALTER TABLE [dbo].[USER_ACHIEVEMENTS] CHECK CONSTRAINT [FK_USER_ACH_USER_ACHI_ACHIEVEM]
GO
ALTER TABLE [dbo].[USER_ACHIEVEMENTS]  WITH CHECK ADD  CONSTRAINT [FK_USER_ACH_USER_ACHI_USER] FOREIGN KEY([USERID])
REFERENCES [dbo].[USER] ([USERID])
GO
ALTER TABLE [dbo].[USER_ACHIEVEMENTS] CHECK CONSTRAINT [FK_USER_ACH_USER_ACHI_USER]
GO
ALTER TABLE [dbo].[USER_GAME]  WITH CHECK ADD  CONSTRAINT [FK_USER_GAM_USER_GAM_GAME] FOREIGN KEY([GAMESID])
REFERENCES [dbo].[GAMES] ([GAMEID])
GO
ALTER TABLE [dbo].[USER_GAME] CHECK CONSTRAINT [FK_USER_GAM_USER_GAM_GAME]
GO
ALTER TABLE [dbo].[USER_GAME]  WITH CHECK ADD  CONSTRAINT [FK_USER_GAM_USER_GAME_USER] FOREIGN KEY([USERID])
REFERENCES [dbo].[USER] ([USERID])
GO
ALTER TABLE [dbo].[USER_GAME] CHECK CONSTRAINT [FK_USER_GAM_USER_GAME_USER]
GO
USE [master]
GO
