@page
@model ForgotPasswordModel


<head>
    <link href="~/css/forgotPassword.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid vh-100 bg-dark ff-utnr">
        <h2> Forgot your password?</h2>
        <h2> Enter your email.</h2>
        <hr />
        <div class="h-25 w-50 rounded my-border d-flex px-2 flex-column">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="flex-grow-1 align-text-center">
                    <span asp-validation-for="Input.Email" class="text-danger flex-grow-1 w-100 m-2"></span>
                </div>
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control bg-dark my-border" autocomplete="username" class="bg-dark my-border rounded" aria-required="true" placeholder="name@example.com" />
               <div class="flex-grow-1">
                    <button type="submit" class="pwd-reset-submit-button ff-utnr my-border rounded">Reset Password</button>
               </div>
            </form>
        </div>
    </div>
</body>

@{
   /* @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
   */
}
