@page
@model ForgotPasswordModel


<head>
    <link href="~/css/userCss.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid vh-100 bg-dark ff-utnr">
        <h2> Forgot your password?</h2>
        <h2> Enter your email.</h2>
        <hr />
        <div class="h-50 w-50 rounded my-border ">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control bg-dark" autocomplete="username" class="bg-dark my-border rounded" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger w-100 m-2"></span>
               
                <button type="submit" style="height:50px; width:100px;" class="pwd-reset-submit-button ff-utnr my-border rounded mx-auto">Reset Password</button>
            </form>
        </div>
    </div>
</body>

@{
   /* @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
   */
}
