@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<head>
    <link href="~/css/forgotPassword.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid bg-dark vh-100">
        <div class="my-border rounded ff-utnr">
            <h1>@ViewData["Title"]</h1>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</body>

