@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<head>
    <link rel="stylesheet" href="../wwwroot/css/Index.css" />
</head>

<div class="vh-100 wb-position body">
    <div class="wb-form ">
        <h1 class="ff-tnr">@ViewData["Title"]</h1>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="ff-tnr">Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control ff-tnr w-75 mx-auto" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.FirstName" style="margin-left: 11%;">FirstName</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control ff-tnr w-75 mx-auto" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.LastName" style="margin-left: 11%;">LastName</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.UserName" class="form-control ff-tnr w-75 mx-auto" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.UserName" style="margin-left: 11%;">UserName</label>
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control ff-tnr w-75 mx-auto" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" style="margin-left: 11%;">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control ff-tnr w-75 mx-auto" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password" style="margin-left: 11%;">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control ff-tnr w-75 mx-auto" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword" style="margin-left: 11%;">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="register" type="submit" class="buttons p-2">Register</button>
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
