.body {
    background: url(../assets/black-and-blue-fierce-cat-oj7gfgaiyvkm2d8u.jpg);
    background-size: cover;
}

.ff-tnr {
    font-family: 'Times New Roman', Times, serif;

}

#index-heading {
    padding: 50px 20px 0px 20px;
    margin-top: 10px;
}

.sign-position {
    padding-top: 250px;
}


.wb-form {
    background-color: #ffffff99;
    border-radius: 15px;
    padding-bottom: 20px;
    color: black;
    text-align: center;
    width: 30%;
    height: auto;
    margin: auto;
}

.wb-position {
    padding-top: 100px;
}

.buttons {
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background: none;
    transition: 300ms;
    margin: 0px 10px;
    padding-top: 10px;
    text-decoration: none;
}

#login {
    width: 20%;
    height: 50px;
    border: 1px solid #0026ff;
    color: #0026ff;
    margin-top: 20px;
}

#register {
    width: 20%;
    height: 50px;
    border: 1px solid #ff0000;
    color: #ff0000;
    margin-top: 20px;
}

#reset {
    width: 30%;
    height: 70px;
    border: 1px solid #fd4702;
    color: #ff0000;
    margin-top: 20px;
}

#login:hover {
    background-color: #0026ff;
    border: 1px solid #ffffff;
    color: #ffffff;
}

#register:hover {
    background-color: #ff0000;
    border: 1px solid #ffffff;
    color: #ffffff;
}

#reset:hover {
    background-color: #fd4702;
    border: 1px solid #ffffff;
    color: #ffffff;
}

#confirmation-pad {

    height: auto;
    background-color: #ffffff99;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 26pt;
    color: black;
}

.profilePicture {
    width: 90px;
    height: 90px;
    background-color: blue;
    border-radius: 25%;
}

