body {
    background-color: black;
}
.column {
    width: 80%;
    height: 100px;
    margin: 0px auto;
    background-color: blue;
    justify-content: center;
    align-content: center;
    border: 1px solid #ff0000;
}

.my-border {
    border: 1px solid #00b8ff;
}

.ff-utnr {
    font-family: 'Times New Roman';
    color: #00b8ff;
}

.profile-picture {
    display: grid;
    grid-template: "region";
    margin: 0px 150px;
    width: 130px;
    height: 130px;
    border: 2px solid rgba(0, 184, 255, 1);
    border-radius: 50%;
}

    .profile-picture img {
        grid-area: region;
        width: 126px;
        border-radius: 50%;
        height: 127px;
        padding: 1px;
    }

    .profile-picture label {
        grid-area: region;
        color: #00b8ff;
        align-content: center;
        text-decoration: none;
        text-align:center;
        font-weight: bolder;
        font-size: 24pt;
        border: 1px solid #00b8ff;
        align-self: self-end;
        justify-self: right;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #212529;
        z-index: 5;
    }

        .profile-picture label:hover {
            transition-duration: 0.4s;
            background-color: #00b8ff;
            color: black;
            cursor: pointer;
        }

.central-card {
    border-radius: 10px;
    width: 30%;
    height: 70vh;
}

.central-card > a {
    text-align: center;
    align-content: center;
}

.central-card > a:hover {
    transition-duration: 0.4s;
    background-color: #00b8ff;
    color: black;
}

    .central-card:last-child {
        border-radius: 0px 0pc 10px 10px;
    }

.align-text-center {
    text-align: center;
}

.payment-grid {
    display: grid;
    grid-template:  "a a a"
                    "b c c"
                    "d d e"
                    "f f g";
    grid-template-columns: 1fr 20% 35%;
    grid-template-rows: 1fr 25% 25% 25%;
}

.payment-total {
    grid-area: a;
}

.payment-first-name {
    grid-area: b;
}

.payment-last-name {
    grid-area: c;
}

.payment-card-number {
    grid-area: d;
}

.payment-cvv {
    grid-area: e;
}

.payment-cards {
    grid-area: f;
}

.payment-card-expire-date {
    grid-area: g;
}


.payment-submit-button {
    width: 15%;
    height: 50px;
    background-color: #212529;
    margin: 15px auto 15px auto;
}

.payment-submit-button:hover {
    transition-duration: 0.4s;
    background-color: #00b8ff;
    color: black;
}
