#body {
  background-color: #00ff90;
  padding: 0px;
}
li {
    background-color: #221e1e;
    font-size: 10pt;
}
.column {
    width: 90%;
    margin: 0px auto;
}

.mainPanel {
    display: grid;
    grid-template: "a b"
        "a d";
    grid-template-columns: 13% 1fr;
    grid-template-rows: 27% 1fr;
    padding-left: 10%;
    padding-right: 10%;
    border: 2px solid #e5c9c9;
}

.userInfo {
    display: grid;
    grid-template:  "a b c"
                    "d e f"
                    "g g g";
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 15% 1fr 25%;
    font-size: 10pt;
}

.profile-picture {
    margin: auto;
    width: 130px;
    height: 130px;
    border: 2px solid rgba(0, 184, 255, 1);
    border-radius: 50%;
    grid-area: e
}

.profile-picture-settings {
    margin: 5px;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(0, 184, 255, 1);
    border-radius: 50%;
    grid-area: e
}

.h-9 {
    height: 9% !important
}

.h-15 {
    height: 15% !important
}

.h-16 {
    height: 16% !important
}

.h-20 {
    height: 20% !important
}

.h-26 {
    height: 26% !important
}

.h-35 {
    height: 35% !important
}

.h-54 {
    height: 54% !important
}
.userInfo > h3 {
    grid-area: g;
    text-align: center;
    padding: 5px;
}


.game-holder {
    box-shadow: rgba(0, 184, 255, 1) 0px 5px 15px;
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 129px;
    height: 150px;
    grid-template: "region";
    margin-inline: 15px;
    margin-bottom: 15px;
}

.game {
    grid-area: region;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.ff-utnr {
    font-family: 'Times New Roman';
    color: #00b8ff;
}

.my-border {
    border: 1px solid #00b8ff;
}

.bottom-border {
    border-bottom: 1px solid #00b8ff;
}

i {
    color: #00b8ff;
}

i:hover {
    cursor: pointer;
}

.custom-image-size {
    width:130px;
    height:150px;
}
.align-text-center {
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    border: 1px solid #00b8ff;
    background: #212529;
    margin-top: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border: 1px solid #00b8ff;
    background: #212529;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background:#00b8ff;
    }
.logout {
    width: 27px;
    height: 27px;
}
.align-text-right {
    text-align: right;
}

.icons {
    width: 26px;
    height:26px;
}

figure {
    display: grid;
    border-radius: 1rem;
    width: 129px;
    height: 150px;
    overflow: hidden;
    cursor: pointer;
}

    figure > * {
        grid-area: 1/1;
        transition: .4s;
    }

    figure img {
        width: 100%;
        height: 100%;
        padding: 1px;
    }

    figure figcaption {
        display: grid;
        align-items: start;
        width: 135px;
        height: 155px;
        font-family: 'Times New Roman';
        font-size: 1.5rem;
        font-weight: bold;
        color: #ff0000;
        padding: .75rem;
        background: #ffffff;
        clip-path: inset(var(--_i,100%) 0 0 0);
        margin: -1px;
    }

    figure:hover figcaption {
        --_i: 0%
    }

    figure:hover img {
        transform: scale(1.2);
    }

@supports not (-webkit-mask-clip: text) {
    figure figcaption {
        -webkit-mask: none;
        color: #ffff;
    }
}