#body {
  background-color: #00ff90;
  padding: 0px;
}
li {
    background-color: #221e1e;
    font-size: 10pt;
}
.column {
    width: 90%;
    margin: 0px auto;
}

.mainPanel {
    display: grid;
    grid-template: "a b"
        "a d";
    grid-template-columns: 13% 1fr;
    grid-template-rows: 27% 1fr;
    padding-left: 10%;
    padding-right: 10%;
    border: 2px solid #e5c9c9;
}

.userInfo {
    display: grid;
    grid-template:  "a b c"
                    "d e f"
                    "g g g";
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 15% 1fr 25%;
    font-size: 10pt;
}

.profilePicture {
    margin: auto;
    width: 130px;
    height: 130px;
    border: 2px solid rgba(0, 184, 255, 1);
    border-radius: 50%;
    grid-area: e
}

.profilePictureSettings {
    margin: 5px;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(0, 184, 255, 1);
    border-radius: 50%;
    grid-area: e
}

.h-9 {
    height: 9% !important
}

.h-15 {
    height: 15% !important
}

.h-16 {
    height: 16% !important
}

.h-20 {
    height: 20% !important
}

.h-26 {
    height: 26% !important
}

.h-35 {
    height: 35% !important
}

.h-54 {
    height: 54% !important
}
.userInfo > h3 {
    grid-area: g;
    text-align: center;
    padding: 5px;
}

.game {
    box-shadow: rgba(0, 184, 255, 1) 0px 5px 15px;
    border: 1px solid black;
    border-radius: 10px;
    width: 130px;
    height: 150px;
    margin-inline: 15px;
    margin-bottom: 15px;
    transition-duration: 0.3s;
}

.game:hover {
    box-shadow: rgba(255, 3, 0, 1) 2px 7px 17px;
    border-radius: 10px;
    width: 150px;
    height: 170px;
    margin-inline: 5px;
    margin-bottom: 0px;
}



.ff-utnr {
    font-family: 'Times New Roman';
    color: #00b8ff;
}

.myBorder {
    border: 1px solid #00b8ff;
}

.align-text-center {
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    border: 1px solid #00b8ff;
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border: 1px solid #00b8ff;
    background: black;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background:#00b8ff;
    }
.exit {
    width:27px;
    height:27px;
}
.align-text-right {
    text-align: right;
}

.icons {
    width: 26px;
    height:26px;
}