.inline-block-container {
    display: inline-block;
}

.card {
    position: relative;
    width: 250px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    overflow: hidden;
    border: 1px solid #ccc;
    margin: 10px;
}

.card-content {
    position: relative;
    width: 100%;
    height: 100%;
}

    .card-content img {
        width: 90%;
        height: 100%;
        object-fit: cover; /* Ensure the image covers the entire space */
    }

.hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
}

.card:hover .hover-text {
    opacity: 1; /* Show on hover */
}
