@page
@model ForgotPasswordModel


<head>
    <link href="~/css/forgotPassword.css" rel="stylesheet" />
</head>
<body>
    <div id="body" class="container-fluid vh-100 d-flex align-items-center ff-utnr">
        <div class="bg-dark forgot-password-container mx-auto my-border rounded p-3 align-text-center">
            <h2> Forgot your password?</h2>
            <h2> Enter your email.</h2>
            <hr />
                <form method="post">
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control bg-dark my-border mt-5  mx-auto" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="form-label">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="flex-grow-1">
                        <button type="submit" class="pwd-reset-submit-button ff-utnr mx-auto my-border rounded">Reset Password</button>
                    </div>
                </form>
        </div>
    </div>
</body>
