@page
@model ResetPasswordModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/forgotPassword.css"></link>
</head>
<body>
    <div id="body" class="container-fluid vh-100 m-0 p-0 d-flex align-items-center">
        <div class="container bg-dark reset-pwd-info my-border rounded align-content-center">
            <div class="ff-utnr align-text-center">
                <h1>Reset your password.</h1>
                <hr />
            </div>
            <div class="p-3">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <input asp-for="Input.Code" type="hidden" />
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control my-border bg-dark " autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="form-label ff-utnr"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control my-border bg-dark ff-utnr" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                        <label asp-for="Input.Password" class="form-label ff-utnr"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control my-border bg-dark ff-utnr" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                        <label asp-for="Input.ConfirmPassword" class="form-label ff-utnr"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="pwd-reset-submit-button my-border rounded ff-utnr">Reset</button>
                </form>
            </div>
        </div>

    </div>
</body>

