#body {
    background-color: #0e0e1a;
    padding: 0px;
}

.forgot-password-container {
    height:60%;
    width:30%;
}

.reset-pwd-info {
    height: 65%;
    width: 30%;
}

.ff-utnr {
    font-family: 'Times New Roman';
    color: #00b8ff;
}

.my-border {
    border: 1px solid #00b8ff;
}

.align-text-center {
    text-align: center;
}

.pwd-reset-submit-button {
    width: 100px;
    height: 50px;
    margin-top: 15px;
    background-color: #212529;
    margin-left: 35%;
}

    .pwd-reset-submit-button:hover {
        color: black;
        cursor: pointer;
        width: 100px;
        height: 50px;
        background-color: #00b8ff;
        margin-top: 15px;
        margin-left: 35%;
    }

input {
    color: #00b8ff !important;
}

input:focus {
    color: #00b8ff !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill-selected,
input:-internal-autofill-previewed {
    background-color: #212529 !important;
    -webkit-box-shadow: 0 0 0 30px #212529 inset !important;
    -webkit-text-fill-color: #00b8ff !important;
}